.allUsersContent {
  width: 80%;
  margin: 0 auto;
  /* margin-top: 6%; */

}

.tips-number {
  display: flex;
  justify-content: space-around;
  gap: 65%;
  align-items: flex-start;
  flex-direction: row;
  /* border: 1px solid rgb(207, 207, 207); */
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  padding: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.optionsUsers {
  /* background-color: #f2f2f2; */
  border-top: 1px solid #ddd ;
}

.tipsAll {
  margin: 0;
}

/* Add more styles as needed */

